

<div class="row">

      <!-- Custom rounded search bars with input group -->
      <form action="">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm">
          <div class="input-group">
            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
      <!-- End -->
</div>
